.main{
    background:#0E1117;
}

.block-container{
    padding-top:2rem;
    padding-left:3rem;
    padding-right:3rem;
}

div[data-testid="metric-container"]{
    background:#1A1C24;
    border-radius:15px;
    padding:20px;
    border:1px solid #2F3136;
}

.stButton>button{
    width:100%;
    border-radius:12px;
    height:55px;
    background:#3B82F6;
    color:white;
    font-weight:bold;
    border:none;
}

.stButton>button:hover{
    background:#2563EB;
}

textarea{
    border-radius:15px !important;
}

.css-1r6slb0{
    border-radius:15px;
}

.card{

    background:#1A1C24;

    padding:25px;

    border-radius:18px;

    border:1px solid #30333C;

    box-shadow:0px 8px 25px rgba(0,0,0,.25);

}